/* --- BOX MODEL & RESET --- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #f4f4f4;
    color: #1a1a1a;
}

/* --- MOBILE FIRST (Diseño para celulares por defecto) --- */
#cabecera {
    background-color: #00427c; /* Azul Francia */
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    margin-top: 10px;
}

.contenedor-principal {
    display: block; /* En mobile todo va uno debajo del otro */
    padding: 15px;
}

.noticia-full {
    background: white;
    padding: 20px;
    border-radius: 4px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
}

.etiqueta {
    background: #ce1126;
    color: white;
    padding: 4px 8px;
    font-size: 0.7rem;
    font-weight: bold;
}

.imagen-responsive {
    width: 100%;
    height: auto;
    margin: 15px 0;
    border: 1px solid #ccc;
}

.columna-lateral {
    background: #fff;
    padding: 15px;
    border: 1px solid #ddd;
}

/* --- TABLET (Media Query) --- */
@media (min-width: 600px) and (max-width: 1024px) {
    body {
        background-color: #e9ecef;
    }
    .contenedor-principal {
        padding: 30px;
    }
    nav ul {
        display: flex;
        justify-content: center;
        gap: 20px;
    }
}

/* --- DESKTOP (Media Query) --- */
@media (min-width: 1025px) {
    .contenedor-principal {
        display: flex; /* Acá usamos Flexbox para las dos columnas */
        max-width: 1100px;
        margin: 0 auto;
        gap: 30px;
    }

    .noticia-full {
        flex: 2; /* Ocupa más espacio */
    }

    .columna-lateral {
        flex: 1; /* Ocupa menos espacio */
        height: fit-content;
    }

    h1 {
        font-size: 2.5rem;
    }
}